@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	background-image: url("asset/texture.jpg");
	background-attachment: fixed;
	font-family: 'Inconsolata', monospace;
	margin: 0;

	--white: white;
	--black: #111;
	--green: #00906A;
	--red: #B43528;
}

h1, h2, p {
	margin: 0;
}

#header {
	height: 95vh;
	min-height: 300px;
	padding: 3rem;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--white);
}

#header:after {
	--size: 40px;

	content: "";
	border: solid transparent;
	border-width: calc(var(--size) / 2) var(--size) 0 var(--size);
	border-top-color: var(--red);
	position: absolute;
	bottom: 2rem;
	left: calc(50% - var(--size));
}

#header img {
	height: 50%;
	margin-bottom: 2rem;
}

#header h1 {
	font-size: 2rem;
	color: var(--black);
}

#header h2 {
	font-size: 1.5rem;
	color: var(--green);
}

.slogan {
	padding: 4rem;
	color: var(--white);
	font-size: 3rem;
	font-weight: 900;
	font-style: italic;
	justify-content: center;
	text-align: center;
	text-shadow: 2px 2px 5px #000;
}

.shadow {
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 20px #000;
}

.wrapper {
	width: 100vw;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#info {
	background-color: var(--green);
	color: var(--white);
}

#info h1 {
	margin-bottom: 1rem;
	text-align: center;
}

#info table {
	width: 100%;
}

#info tr th,
#info tr td {
	width: 50%;
	word-break: break-all;
}

#info th {
	text-align: right;
	text-transform: capitalize;
	color: var(--black);
}

#info th:after {
	content: ":";
}

#info a {
	color: var(--white);
}

#career {
	background-color: var(--white);
}

#career h1 {
	text-transform: uppercase;
	color: var(--green);
}

#career .step {
	--size: 2rem;

	margin-bottom: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#career .school .step:after {
	border-width: 2px 0 2px 2px;
    right: -15px;
}

#career .job .step:after {
	border-width: 2px 2px 2px 0;
	left: -15px;
}

#career .half h1 {
	margin: 2rem 0;
	text-align: center;
}

#career h2 {
	margin-bottom: 2rem;
}

#career span {
	position: relative;
	text-align: right;
}

#career span:before {
	content: "";
	width: 100%;
	border: solid var(--green);
	border-width: 2px 0 0 0;
	position: absolute;
	top: -20px;
	left: 0;
	transform: rotateZ(-3deg);
}

#career p {
	margin-top: 2rem;
}

#career a {
	color: var(--red);
}

#devaneios {
	background-color: var(--red);
	color: var(--white);
}

#devaneios p,
#devaneios h2 {
	margin-top: 2rem;
}

#devaneios ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
}

#devaneios li {
	--size: calc(100vw - 4rem);

	width: var(--size);
	height: var(--size);
	margin-top: 2rem;
	padding: 2rem;
	box-sizing: border-box;
	border: .3rem solid var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .9));
	color: var(--white);
	text-align: center;
}

#devaneios a {
	text-decoration: none;
}

#devaneios button {
	--size: 4px;

	width: 100%;
	padding: 1rem;
	margin-top: 2rem;
	background-color: var(--green);
	background-image: linear-gradient(145deg, #009a71, #00825f);;
	border: none;
	color: var(--white);
	font-family: inherit;
	font-size: inherit;
	box-shadow: var(--size) var(--size) calc(var(--size) * 2) #992d22,
				calc(var(--size) * -1) calc(var(--size) * -1) calc(var(--size) * 2) #cf3d2e;
}

#papers {
	background-color: var(--green);
	color: var(--white);
}

#papers h1 {
	margin-bottom: 2rem;
}

#papers a {
	text-decoration: none;
}

#papers .group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#papers .paper {
	--size: calc(100vw - 4rem);

	width: var(--size);
	height: calc(var(--size) * 1.4);
	margin-top: 2rem;
	box-sizing: border-box;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--white);
	color: var(--black);
	justify-content: center;
}

#papers h2 {
	align-self: flex-start;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
}

#papers p {
	align-self: center;
	font-size: .8rem;
}

#papers span {
	align-self: flex-end;
}

footer {
	padding: 2rem;
	display: flex;
	justify-content: center;
}

footer img {
	height: 50px;
}

@media all and (min-width: 500px) {
	#papers h2 {
		font-size: 2rem;
	}

	#papers p {
		font-size: 1.3rem;
	}
}

@media all and (min-width: 700px) {

	#career .half {
		display: flex;
		justify-content: space-around;
	}
	
	#career section {
		width: 45%;
	}

	#career .step:after {
		content: '';
		width: 5px;
		height: 100%;
		border: solid var(--green);
		position: absolute;
		top: 0;
	}

	#career .school .step:nth-of-type(1) {
		height: calc(var(--size) * 36);
		margin-top: calc(var(--size) * 6);
	}
	
	#career .school .step:nth-of-type(2) {
		height: calc(var(--size) * 36);
		margin-top: var(--size);
	}
	
	#career .school .step:nth-of-type(3) {
		height: calc(var(--size) * 36);
		margin-top: calc(var(--size) * 7);
	}
	
	#career .job .step:nth-of-type(1) {
		height: calc(var(--size) * 12);
	}
	
	#career .job .step:nth-of-type(2) {
		height: calc(var(--size) * 31);
		margin-top: calc(var(--size) * 2);
	}
	
	#career .job .step:nth-of-type(3) {
		height: calc(var(--size) * 8);
		margin-top: calc(var(--size) * 9);
	}
	
	#career .job .step:nth-of-type(4) {
		height: calc(var(--size) * 38);
		margin-top: var(--size);
	}
	
	#career .job .step:nth-of-type(5) {
		height: calc(var(--size) * 36);
		margin-top: var(--size);
	}

	#devaneios li {
		--size: calc((100vw - (2rem * 4)) / 3);
	}

	#papers .paper {
		--size: calc((100vw - (2rem * 3)) / 2);
	}

	#papers h2 {
		font-size: 1rem;
	}

	#papers h2 {
		font-size: 1.7rem;
	}

	#papers p {
		font-size: 1rem;
	}

}

@media all and (min-width: 1200px) {
	body {
		font-size: 20px;

		--max: 1000px;
	}

	.wrapper {
		padding: 4rem;
		max-width: var(--max);
	}

	#devaneios li {
		--size: calc((var(--max) - (2rem * 4)) / 3);
	}

	#papers .paper {
		--size: calc((var(--max) - (2rem * 3)) / 2);
	}

	#papers h2 {
		font-size: 1.5rem;
	}

	#papers p {
		font-size: 1rem;
	}
}